<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GLASSROOM</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="slide">
            <div class="body">{{{body}}}</div>
        </div>
    </body>
</html>